/*
My Github: https://github.com/Guilherme-De-Marchi/Cool-Periodic-Table
License: MIT
*/

:root {
    --base-number: 6px;
}


/*
##########################################
################# Tags ###################
##########################################
*/

body {
    font-family: 'OCR A Std', monospace;
    color: #333333;
    background-color: #faf0e6;
}


/*
##########################################
################### Ids ##################
##########################################
*/

#extra-small-screen-warning {
    display: none;
}

#periodic-table {
    flex-direction: column;
    align-items: center;
}

#p-table-content {
    flex-direction: column;
}

#p-table-top {
    align-items: flex-end;
}

#p-table-big-element {
    transition: .5s;
    text-align: center;
    background-color: #DCDCDC;
}

#periodic-table,
#p-table-content,
#p-table-informations,
#p-table-elements-family,
#p-table-top {
    display: flex;
}


/*
##########################################
################ Classes #################
##########################################
*/

.column {
    flex-direction: column;
}

.p-table-element {
    text-align: center;
    transition: 1.5s ease-in-out;
}

.p-table-element:active:not(.elements-group) {
    transform: rotate(360deg);
}

.p-table-element-group {
    background-color: #DCDCDC;
    text-align: center
}

.p-table-element:hover,
.p-table-element-group:hover {
    cursor: pointer;
}

.column,
.row {
    display: flex;
}

.p-table-element-family,
.p-table-element,
.p-table-element-group {
    text-align: center;
}


/*
##########################################
###### Colors of element's family ########
##########################################
*/

.ametals {
    background-color: #a9e9a4;
}

.ametals:hover {
    background-color: #bfefbb;
}

.ametals:active {
    background-color: #91e38e;
}

.alkaline-metals {
    background-color: #ffcca9;
}

.alkaline-metals:hover {
    background-color: #ffbb8d;
}

.alkaline-metals:active {
    background-color: #ffaa71;
}

.alkaline-earth-metals {
    background-color: #a0715f;
}

.alkaline-earth-metals:hover {
    background-color: #8b5742;
}

.alkaline-earth-metals:active {
    background-color: #734938;
}

.noble-gases {
    background-color: #b7bcf3;
}

.noble-gases:hover {
    background-color: #9da7ef;
}

.noble-gases:active {
    background-color: #8192ea;
}

.metalloids {
    background-color: #bbffd4;
}

.metalloids:hover {
    background-color: #acffcc;
}

.metalloids:active {
    background-color: #9defbd;
}

.halogens {
    background-color: #befdfd;
}

.halogens:hover {
    background-color: #afeeee;
}

.halogens:active {
    background-color: #a0dfdf;
}

.transition-metals {
    background-color: #f7b8ba;
}

.transition-metals:hover {
    background-color: #f1a1a4;
}

.transition-metals:active {
    background-color: #eb898f;
}

.representative-metals {
    background-color: #a7aec2;
}

.representative-metals:hover {
    background-color: #8b95ae;
}

.representative-metals:active {
    background-color: #6f7c9b;
}

.lanthanides {
    background-color: #e0acea;
}

.lanthanides:hover {
    background-color: #d490e2;
}

.lanthanides:active {
    background-color: #c773db;
}

.actinids {
    background-color: #ceb1e6;
}

.actinids:hover {
    background-color: #bd98de;
}

.actinids:active {
    background-color: #ab7fd5;
}